<!DOCTYPE html>
<html>
	<head>
		<title>javaScript fundamental</title>
		<link href="main.css" type="text/css" rel="stylesheet"/>
	</head>
	<body>
		<section class="content">
			<div class="header">
				<h2>Start JavaScript Fundamental</h2>
			</div>
			<div class="bodyContent">
				<h4>
				  <script>
				    document.write("prolay");
				    document.write("</br>");
				    var a=10;
				    document.write(a);
				    document.write("</br>");
				    window.alart("prolay");
				    document.write("</br>");
				    var animal=["lion","Tiger","dog","man"];
				    document.write(animal[1]);





				  </script>
				</h4>
				<button onclick="document.write("prolay")">click</button>
			</div>

			<div class="footer">
				<h3>www.prolayMukherjee.tk</h3>
			</div>
		</section>
	</body>
	
	
	
	
	
	    <div class="main-wrapper">
			<h2 class="h2">Login Form</h2>
			<center><img src="{% static 'img/Login.jpg'%}"/></center>

		   <form class="myform" >
			  <label><b>Username:</b></label><br>
			  <input type="text" class="inputvalue" placeholder="Enter Your name"/><br>

			   <label><b>Password:</b></label><br>
			   <input type="password" class="inputvalue" placeholder="Enter Your password"/><br>

			   <a href="{%url 'home'%}"><input type="button" class="login-btn" value="Login"/></a><br>
			  <a href="{%url 'register'%}"><input type="button" class="reg-btn" value="Register"/></a>
		    </form>
		 </div>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
</html>